*{
	margin: 15;
	padding: 15;


}

body{ 
	width: 100%;
	font-family: 'Bungee Inline', cursive;
	background-color: transparent;
	background-image: url("https://i.imgur.com/dyktkhv.jpg");
	background-size: ;
	text-align: center;


 }
 