*{
	margin: 0;
	padding: 0;
}

body {
	width: 90%;
	font-family: 'Bungee Inline', cursive;
	background-color: transparent;
	background-image: url("https://i.imgur.com/dyktkhv.jpg");
	background-size: cover;
	text-align: right;
	
}

